*{
    font-family: 'Lato', sans-serif;
}

.main-container{
    width: 1100px;
    height: 700px;
    margin: 3rem auto;
    display: flex;
}

/*CONTACTS SIDE*/
div .contact-column{
    width: 35%;
    height: 100%;
}

/* PROFILE */
div .upper-contact{
    height: 60px;
    background-color: #eaeaea;
}

div .pic-name{
    height: 100%;
}

div .pic-name img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

div .contact-items i{
    color: #b1b1b1;
    font-size: medium;
    margin-right: .7rem;
}


/*NOTIFICATIONS*/
div .notifications{
    height: 65px;
    background-color: #8edafc;
}

div .notifications i{
    background-color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    align-content: center;
    display: flex;
    justify-content: center;
    color: #8edafc;
}

div .notification-text p{
    margin: 0;
    font-size: .8rem;
    margin-left: .6rem;
}

.active-notification{
    color: grey;
    text-decoration: none;
}


/*SEARCH BAR*/
div .my_searchbar_container{
    height: 40px;
    background-color: #eaeaea;
}

div .search-bar{
    background-color: white;
    width: 90%;
    border-radius: 10px;
    margin-left: 1rem;
}

div .search-bar input{
    display: flex;
    background: transparent;
    border: none;
    width: 100%;
    padding-left: 1rem;
}

input{
    display: flex;
    justify-content: center;
    font-size: .6rem;
}

/*MY CONTACTS*/
div .contacts-container{
    overflow: auto;
}

div .contacts{
    height: 65px;
    background-color: white;
    border-bottom: 1px rgb(234, 234, 234) solid;
}

div .contact-img.active{
    background-color: #eaeaea;
}

div .contacts:hover{
    height: 65px;
    background-color: #e9ebeb;
}

div .contact-img img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}

/*****************************CHAT************************/
div .chat-side{
    width: 65%;
    background-image: url("../img/mine.jpg");
    height: 100%;
}

div .chat-info{
    height: 60px;
    background-color: #eaeaea;
    border-left: 1px rgb(169, 169, 169) solid;
    padding-left: 1rem;
}

div .chatter-info img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

div .name-chatter p{
    margin: 0;
}

.last-access{
    font-size: .7rem;
}

div .chatter-items i{
    color: #b1b1b1;
    font-size: medium;
    margin-right: 1rem;
}


/*CONVERSATION SIDE*/

div .conversation-container{
    height: calc( 100% - 120px);
    overflow: auto;
}

div .conversation-sender,
div .conversation-recipient{
    width: 75%;
    margin: 2rem auto;
    display: grid;
}

div .conversation-sender{
    justify-content: end;
}

div .conversation-recipient{
    justify-content: start;
}

div .sender,
div .recipient{
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: .9rem;
    position: relative;
}

div .recipient span{
    font-size: .6rem;
    justify-content: end;
    position: absolute;
    bottom: 2%;
}

div .sender span{
    font-size: .6rem;
    justify-content: end;
    position: absolute;
    bottom: 2%;
}

div .sender{
    background-color: #d5f9ba;
}

div .recipient{
    background-color: #ffffff;
}


/* SEND MESSAGE */

div .message-tosend{
    height: 60px;
    background-color: #f3eeea;
}

div .message-tosend input{
    width: 80%;
    border: none;
    height: 80%;
    border-radius: 10px;
}

div .message-tosend i{
    font-size: 1.2rem;
    color: #6a7275;
}